/* .feed {
  display: grid
} */

.postForm {
  display: inline-flex;
  flex-direction: column;
}

label {
  display: inline-flex;
  flex-direction: column;
}

.postCard {
  border: 1px solid lightgrey;
  width: 50%;
  height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
}
